{% extends "base.html" %}

{% block title %}İletişim{% endblock %}

{% block content %}
<div class="container">
    <h1>İletişim</h1>
    <p>Proje hakkında daha fazla bilgi almak için aşağıdaki iletişim bilgilerini kullanabilirsiniz:</p>
    <ul>
        <li><strong>E-posta:</strong> info@ankaraaa.com</li>
        <li><strong>Telefon:</strong> +90 533 654 82 05</li>
        <li><strong>Adres:</strong> Ankara Atatürk Anadolu Lisesi, Yenimahalle, Ankara</li>
    </ul>
</div>
{% endblock %}
